table {
	border-collapse: collapse;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    width: 100%;
}
table td {
	padding: 10px;
}
table thead td {
	background-color: #697c94;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	border: 1px solid #636363;
}
table tbody td {
	color: #636363;
	border: 1px solid #dddfe1;
}
table tbody tr {
	background-color: #f9fafb;
}
table tbody tr:nth-child(odd) {
	background-color: #ffffff;
}
