.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.image-item {
  text-align: center;
  width: 30%;
  min-width: 380px;
}
.image-item-three {
  text-align: center;
  width: 30%;
  min-width: 250px;
}