table {
  border-collapse: collapse;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  width: 100%;
  overflow: hidden;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
  padding: 10px;
  text-align: center;
}

html.theme--documenter-dark th {
  background-color: #282f2f;
}

html.theme--catppuccin-frappe th {
  background-color: #292c3c;
}

html.theme--catppuccin-latte th {
  background-color: #e6e9ef;
}

html.theme--catppuccin-macchiato th {
  background-color: #1e2030;
}

html.theme--catppuccin-mocha th {
  background-color: #181825;
}